body {
    margin-top: 100px;
    background-color: #212121;
}

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}

.wrapper {
    padding-left: 0;
}

.page-wrapper {
    width: 100%;
    padding: 0;
    /*background-color: #fff;*/
}

@media(min-width:768px) {
    .wrapper {
        /* padding-left: 225px; */
    }

    .page-wrapper {
    padding: 10px;
    }
}

.pac-container {
    z-index: 9999999999999999;
}

* {
    font-family: 'Lato';
    text-rendering: optimizeLegibility;
    -moz-font-feature-settings: "kern=1";
    -moz-font-feature-settings: "kern" 1;
    -ms-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    -webkit-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
}

#mapDiv {
    height: 100%;
    width: 100%;
    left: 0;
    position: absolute;
    top: 0;
}

.navbar-custom, .mobile-nav{
    position: absolute;
    bottom: 5%;
    margin-bottom:0px;
    width: 90%;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    border-radius: 0px;
    background-color: #212121;
    color: white;
    border: 1px solid #4a4a4a;
    -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        height: 80px;
}



.marker-list {
    background: #212121;
    position: absolute;
    left: 5%;
    display: block;
    height: 75%;
    top: 5%;
    width: 20%;
    overflow-y: auto;
    padding: 0;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    min-width: 318px;
    color: white;
    border: 1px solid #4a4a4a;
}

.marker-list li {
    list-style: none;
    border-bottom: 1px solid #4a4a4a;
    display: block;
    position: relative;
    margin: 0px 0px 0px 0px;
    padding: 3px 5px 3px 5px;
}

.listing-title {
    margin: 0px 0 13px 0;
    display: block;
    font-size: 27px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: -0.1px;
    font-family: 'Scheherazade';
}

.listing-rating {
    display: inline-block;

}

.listing-openStatus {
    display: block;
    float: right;
}

.listing-vicinity {
    display: block;
}

.listing-priceLevel {
    display: inline-block;
}

.listing-rating, .listing-openStatus, .listing-vicinity, .listing-priceLevel {
    font-family: 'Lato';
    font-size: 12px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
}

.listingIsClosed {
    background: #373737;
    color: #aaa;
}

.listingSelected {
    background: #c1b9a2;
    color: #fff;
}

.navbar-custom.navbar-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.search-wrapper {
    position: relative;
    width: 100%;
}

.search-filter-icon {
    position: absolute;
    top: 18px;
    right: 12px;
    z-index: 999;
}

.nav-block-search {
    width: 28%;
}

.nav-block-locations, .nav-block-options{
    display: none;
}

.search-box {
    width: 100%;
    background: none;
    border: 1px solid #585858;
    height: 42px;
    margin-top: 5px;
    text-transform: uppercase;
    color: white;
    padding: 0 0 0 15px;
    -webkit-transition: all 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940);
            transition: all 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940);
    letter-spacing: 0.6px;
}

.search-box:hover {
    border-color: #686868;
}

.search-box:focus, .search-box-active {
    outline: none !important;
    border-color: #c1b9a2;
}

.search-box::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    font-size: 12px;
    letter-spacing: 5px;
    color:    #585858;
}
.search-box:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-size: 12px;
    letter-spacing: 5px;
   color:    #585858;
   opacity:  1;
}
.search-box::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-size: 12px;
    letter-spacing: 5px;
   color:    #585858;
   opacity:  1;
}
.search-box:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-size: 12px;
    letter-spacing: 5px;
   color:    #585858;
}

.nav-divider {
    background: #4a4a4a;
    width: 1px;
    height: 50px;
    margin-top: 22px;
}

.nav-block {
    padding: 0 10px;
}

.nav-description {
    margin: 6px 0 1px 0;
    text-transform: uppercase;
    color: #585858;
    font-size: 12px;
    letter-spacing: 0.6px

}

.sort-button {
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin: -8px 0px 0px -2px;
    padding: 9px 28px 38px 10px;
}

.sort-button-4 {
    margin: -8px 0px 0px -1px;
}

.diamond-outer {
    margin: 10px 16px 0 7px;
    zoom: 1;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    display: inline-block;
    border: 1px solid #686868;
    width: 30px;
    height: 30px;
    -webkit-transition: all 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940);
            transition: all 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.diamond-outer:hover {
    background: #c0baa2;
    box-shadow: 0 0 1px rgba(255,255,255,.12),1px 1px 1px rgba(255,255,255,.2);
}

.diamond-outer:focus {
    outline: none;
    outline: -webkit-focus-ring-color auto 0px;
}

.diamond-outer:active {
    background: #d1c9b2;
    box-shadow: 0 0 2px rgba(255,255,255,.32),2px 2px 3px rgba(255,255,255,.4);
}

.diamond-inner {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 30px;
    height: 30px;
}

.tooltip {
    font-family: 'Lato';
}

.filter-button {
    display: inline-block;
    font-size: 13px;
    height: 42px;
    cursor: pointer;
    -webkit-transition: all 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940);
            transition: all 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.filter-button:hover {
    border-color: #686868;
}

.filter-button-single {
    border: 1px solid #585858;
    text-transform: uppercase;
    font-family: 'Lato';
    letter-spacing: 0.6px;
    padding: 10px 15px 10px 15px;
    margin: 5px 10px 0 0;
}

.filter-button-multi-container {
    display: inline-block;
}

.filter-button-multi {
    border-left: 1px solid #585858;
    border-top: 1px solid #585858;
    border-bottom: 1px solid #585858;
    padding: 10px 15px 10px 15px;
    margin: 5px -3px 0 -1px;
}

.filter-button-multi-last {
    border-right: 1px solid #585858;
    margin: 5px 10px 0 -1px;
}

.filter-button-multi:hover {
    border-color: #686868;
    border-left-color: #585858;
}

.filter-button-multi-first:hover {
    border-left-color: #686868;
}

.filter-button-pressed.filter-button-multi:hover {
    border-color: #585858;
}

.filter-button-pressed {
    background: #585858;
}

.rateit-filter {
    border: 1px solid #585858;
    display: inline-block;
    height: 42px;
    margin: 0px 10px 0px 0px;
    padding: 10px 10px 10px 10px;
    top: 2px;
    cursor: pointer;
}

.rateit-filter:hover {
    border-color: #686868;
}

.logo-button {
    background: #212121;
    border: 1px solid #585858;
    display: inline-block;
    font-size: 17px;
    margin: 5px 10px 0px 0px;
    padding: 8px 10px 10px 13px;
    width: 42px;
    height: 42px;
    cursor: pointer;
}

.logo-button:hover {
    background: #c0baa2;
    box-shadow: 0 0 1px rgba(255,255,255,.12),0px 1px 1px rgba(255,255,255,.2);
}

.logo-button:focus {
    background: #212121;
    outline: none;
    outline: -webkit-focus-ring-color auto 0px;
}

.logo-button:active {
    background: #d1c9b2;
    box-shadow: 0 0 2px rgba(255,255,255,.32),0px 2px 3px rgba(255,255,255,.4);
}

.bigstars {
    -webkit-transition: all 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940);
            transition: all 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.bigstars div.rateit-range {
    background: url(../img/star.png);
    height: 16px;
}

.bigstars div.rateit-hover {
    background: url(../img/star-hover.png);
}

.bigstars div.rateit-selected {
    background: url(../img/star-active.png);
}

div.bigstars button.rateit-reset {
    background: url(../img/star-reset.png);
    width: 16px;
    height: 16px;
}

div.bigstars button.rateit-reset:hover {
    background: url(../img/star-reset-hover.png);
}

div.bigstars button.rateit-reset:active {
    background: url(../img/star-reset-active.png);
}

.partial-width-1 {
    width: 1.26px;
    overflow: hidden;
    margin-right: 11.34px;
}

.partial-width-2 {
    width: 2.52px;
    overflow: hidden;
    margin-right: 10.08px;
}

.partial-width-3 {
    width: 3.78px;
    overflow: hidden;
    margin-right: 8.82px;
}

.partial-width-4 {
    width: 5.04px;
    overflow: hidden;
    margin-right: 7.56px;
}

.partial-width-5 {
    width: 6.3px;
    overflow: hidden;
    margin-right: 6.3px;
}

.partial-width-6 {
    width: 7.56px;
    overflow: hidden;
    margin-right: 5.04px;
}

.partial-width-7 {
    width: 8.82px;
    overflow: hidden;
    margin-right: 3.78px;
}

.partial-width-8 {
    width: 10.08px;
    overflow: hidden;
    margin-right: 2.52px;
}

.partial-width-9 {
    width: 11.34px;
    overflow: hidden;
    margin-right: 1.26px;
}

.custom-info-window {
}

.custom-info-window .custom-info-window-background {
    background: #212121;
    border-radius: 0px;
    border: 1px solid #4a4a4a;
}




@media(max-width:1199px) {
     .nav-block-options .logo-button, .nav-block-options {
        float:right;
    }
    .nav-block-locations .logo-button {
        padding:9px 10px 10px 12px;
    }
    .nav-block-options .logo-button {
        padding: 9px 10px 10px 11px;
        margin: 5px 0px 10px 13px;
    }
    .nav-block-locations, .nav-block-options {
        display: inline-block;
    }
    .navbar-custom.navbar-header {
        position:absolute;
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
        -webkit-flex-direction:column;
            -ms-flex-direction:column;
                flex-direction:column;
        width:318px;
        right:4%;
        max-height:500px;
        height: 78%;
        background: #212121;
        margin: 0 0 106px 0;
        bottom: 0%;
        left: initial;
    }
    .navbar-header {
        visibility: hidden;
    }
    .nav-divider {
        background: #4a4a4a;
        width: 290px;
        height: 1px;
        margin: 15px 0 0 10px;
    }
    .marker-list {
        top: inherit;
        bottom: 0%;
        margin-bottom: 106px;
        height: 78%;
        left: 4%;
        visibility: hidden;
    }
    .mobile-nav {
        width: 92%;
        bottom: 0%;
        margin-bottom:27px;
    }
    .filter-button-multi-container {
        display: block;
        margin: 5px 10px 10px 0px;
    }
    .mobile-button-pressed {
        background: #c0baa2;
        box-shadow: 0 0 1px rgba(255,255,255,.12),0px 1px 1px rgba(255,255,255,.2);
    }
    .panel-visible {
        visibility: visible;
    }
}

@media(max-width: 991px) {
    .marker-list {
        top: inherit;
        bottom: 0%;
        margin-bottom: -1px;
        height: 83%;
        left: 0%;
    }

    .navbar-custom.navbar-header {
        height: 83%;
    }
    .mobile-nav{
        position: fixed;
        bottom: 0px;
        overflow: hidden;
        width: 100%;
        margin-bottom: 0px;
        height: 80px;
    }
    .navbar-custom.navbar-header {
        bottom: 0%;
        margin-bottom: 79px;
        height: 83%;
        top: inherit;
        right: 0%;
    }
    .page-wrapper {
        position:absolute;
        bottom: 80px;
        height:100%;
    }
}

@media(max-width:1440px) {
    .search-box {
        width: 42px;
        position: relative;
        background: #212121;
        z-index: 99;
    }
    .nav-block-search {
        width: initial;
    }
    .search-wrapper {
        width: 42px;
    }
    .search-box:active, .search-box:focus {
        width: 296px;
    }
    .search-filter-icon {
        -webkit-transition: all 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940);
                transition: all 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940);
        position: absolute;
        top: inherit;
        bottom: 15px;
        left: 16px;
        pointer-events: none;
    }
    .search-box:active + .search-filter-icon, .search-box:focus + .search-filter-icon {
        position: absolute;
        top: inherit;
        bottom: 15px;
        left: 274px;
    }
    .search-box::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color:    #212121;
    }
    .search-box:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
       color:    #212121;
    }
    .search-box::-moz-placeholder { /* Mozilla Firefox 19+ */
       color:    #212121;
    }
    .search-box:-ms-input-placeholder { /* Internet Explorer 10-11 */
       color:    #212121;
    }

    .search-box:active::-webkit-input-placeholder, .search-box:focus::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color:    #585858;
    }
    .search-box:active:-moz-placeholder, .search-box:focus:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
       color:    #585858;
    }
    .search-box:active::-moz-placeholder, .search-box:focus::-moz-placeholder { /* Mozilla Firefox 19+ */
       color:    #585858;
    }
    .search-box:active:-ms-input-placeholder, .search-box:focus:-ms-input-placeholder { /* Internet Explorer 10-11 */
       color:    #585858;
    }
}

@media(max-width: 767px) {
    /*make sure info-window still works*/
}
@media(max-wdith:320px) {
    /*make sure settings still works*/
}

@media(max-height:500px) {
    .filter-button-multi-container {
        display: inline;;
    }
}






















































































/* -----------------------------------
 * Slidebars
 * Version 0.10.3
 * http://plugins.adchsm.me/slidebars/
 *
 * Written by Adam Smith
 * http://www.adchsm.com/
 *
 * Released under MIT License
 * http://plugins.adchsm.me/slidebars/license.txt
 *
 * -------------------
 * Slidebars CSS Index
 *
 * 001 - Box Model, Html & Body
 * 002 - Site
 * 003 - Slidebars
 * 004 - Animation
 * 005 - Helper Classes
 *
 * ----------------------------
 * 001 - Box Model, Html & Body
 */

html, body, #sb-site, .sb-site-container, .sb-slidebar {
    /* Set box model to prevent any user added margins or paddings from altering the widths or heights. */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    overflow-x: hidden; /* Stops horizontal scrolling. */
}

html {
    height: 100%; /* Site is as tall as device. */
}

body {
    min-height: 100%;
    height: auto;
    position: relative; /* Required for static Slidebars to function properly. */
}

/* Site scroll locking - prevent site from scrolling when a Slidebar is open, except when static Slidebars are only available. */
html.sb-scroll-lock.sb-active:not(.sb-static) {
    overflow: hidden;
}

/* ----------
 * 002 - Site
 */

#sb-site, .sb-site-container {
    /* You may now use class .sb-site-container instead of #sb-site and use your own id. However please make sure you don't set any of the following styles any differently on your id. */
    width: 100%;
    min-height: 100vh;
    position: relative;
    z-index: 1; /* Site sits above Slidebars */
    background-color: #ffffff; /* Default background colour, overwrite this with your own css. I suggest moving your html or body background styling here. Making this transparent will allow the Slidebars beneath to be visible. */
}

/* Micro clearfix by Nicolas Gallagher, ensures the site container hits the top and bottom of the screen. */
#sb-site:before, #sb-site:after, .sb-site-container:before, .sb-site-container:after {
    content: ' ';
    display: table;
}

#sb-site:before, #sb-site:after, .sb-site-container:before, .sb-site-container:after {
    clear: both;
}

/* ---------------
 * 003 - Slidebars
 */

.sb-slidebar {
    height: 100%;
    overflow-y: auto; /* Enable vertical scrolling on Slidebars when needed. */
    position: fixed;
    top: 0;
    z-index: 0; /* Slidebars sit behind sb-site. */
    display: none; /* Initially hide the Slidebars. Changed from visibility to display to allow -webkit-overflow-scrolling. */
    background-color: #212121; /* Default Slidebars background colour, overwrite this with your own css. */
    border-left: 1px solid #585858;
}

.sb-slidebar, .sb-slidebar * {
    -webkit-transform: translateZ( 0px ); /* Fixes issues with translated and z-indexed elements on iOS 7. */
}

.sb-left {
    left: 0; /* Set Slidebar to the left. */
}

.sb-right {
    right: 0; /* Set Slidebar to the right. */
}

html.sb-static .sb-slidebar,
.sb-slidebar.sb-static {
    position: absolute; /* Makes Slidebars scroll naturally with the site, and unfixes them for Android Browser < 3 and iOS < 5. */
}

.sb-slidebar.sb-active {
    display: block; /* Makes Slidebars visibile when open. Changed from visibility to display to allow -webkit-overflow-scrolling. */
}

.sb-style-overlay {
    z-index: 9999; /* Set z-index high to ensure it overlays any other site elements. */
}

.sb-momentum-scrolling {
    -webkit-overflow-scrolling: touch; /* Adds native momentum scrolling for iOS & Android devices. */
}

/* Slidebar widths for browsers/devices that don't support media queries. */
    .sb-slidebar {
        width: 30%;
    }

    .sb-width-thin {
        width: 15%;
    }

    .sb-width-wide {
        width: 45%;
    }

@media (max-width: 480px) { /* Slidebar widths on extra small screens. */
    .sb-slidebar {
        width: 70%;
    }

    .sb-width-thin {
        width: 55%;
    }

    .sb-width-wide {
        width: 85%;
    }
}

@media (min-width: 481px) { /* Slidebar widths on small screens. */
    .sb-slidebar {
        width: 55%;
    }

    .sb-width-thin {
        width: 40%;
    }

    .sb-width-wide {
        width: 70%;
    }
}

@media (min-width: 768px) { /* Slidebar widths on medium screens. */
    .sb-slidebar {
        width: 40%;
    }

    .sb-width-thin {
        width: 25%;
    }

    .sb-width-wide {
        width: 55%;
    }
}

@media (min-width: 992px) { /* Slidebar widths on large screens. */
    .sb-slidebar {
        width: 30%;
    }

    .sb-width-thin {
        width: 15%;
    }

    .sb-width-wide {
        width: 45%;
    }
}

@media (min-width: 1200px) { /* Slidebar widths on extra large screens. */
    .sb-slidebar {
        width: 20%;
    }

    .sb-width-thin {
        width: 5%;
    }

    .sb-width-wide {
        width: 35%;
    }
}

/* ---------------
 * 004 - Animation
 */

.sb-slide, #sb-site, .sb-site-container, .sb-slidebar {
    -webkit-transform: translate( 0px );
            -ms-transform: translate( 0px );
        transform: translate( 0px );

    -webkit-transition: -webkit-transform 400ms ease;
            transition:         transform 400ms ease;

    -webkit-transition-property: -webkit-transform, left, right; /* Add left/right for Android < 4.4. */
    -webkit-backface-visibility: hidden; /* Prevents flickering. This is non essential, and you may remove it if your having problems with fixed background images in Chrome. */
}

/* --------------------
 * 005 - Helper Classes
 */

.sb-hide {
    display: none; /* Optionally applied to control classes when Slidebars is disabled over a certain width. */
}