/*
Table of Contents
1. Whole page CSS
2. Map related
3. Navbar
4. Marker List
5. Info Window
6. Errors
7. Modal
8. Settings
9. Loading Screen
10. Media Queries
11. Slidebars CSS
*/
/* 1. Whole page CSS */
body {
	margin: 100px 0 0 0;
	background-color: #212121;
}

.wrapper {
	padding: 0;
}

.page-wrapper {
	width: 100%;
	padding: 0;
}

* {
	font-family: 'Lato', 'Arial', 'Helvetica', 'Lucida Grande', 'Gill Sans',
		'Verdana', sans-serif;
	-moz-font-feature-settings: 'kern=1';
	-moz-font-feature-settings: 'kern' 1;
	-ms-font-feature-settings: 'kern' 1;
	-o-font-feature-settings: 'kern' 1;
	-webkit-font-feature-settings: 'kern' 1;
	font-feature-settings: 'kern' 1;
}

a,
a:visited {
	color: #c0baa2;
}

a:hover,
a:focus {
	color: #d1c9b2;
	text-decoration: none;
}

/* 2. Map related */

.pac-container {
	z-index: 9999;
}

#mapDiv {
	height: 100%;
	width: 100%;
	left: 0;
	position: absolute;
	top: 0;
}

/* 3. Navbar */

.navbar-custom,
.mobile-nav {
	position: absolute;
	bottom: 5%;
	width: 90%;
	left: 0;
	right: 0;
	margin: 0 auto;
	border-radius: 0;
	background-color: #212121;
	color: white;
	border: 1px solid #4a4a4a;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	height: 80px;
}

.navbar-custom.navbar-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.search-wrapper {
	position: relative;
	width: 100%;
}

.search-filter-icon {
	position: absolute;
	top: 18px;
	right: 12px;
	z-index: 999;
}

.nav-block-search {
	width: 28%;
}

.nav-block-locations,
.nav-block-options {
	display: none;
}

.search-box {
	width: 100%;
	background: none;
	border: 1px solid #585858;
	height: 42px;
	margin: 5px 0 0 0;
	text-transform: uppercase;
	color: white;
	padding: 0 0 0 15px;
	transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	letter-spacing: 0.6px;
}

.search-box:hover {
	border-color: #686868;
}

.search-box:focus,
.search-box-active,
.search-box-focused,
.search-box-focused:hover {
	outline: none !important;
	border-color: #c1b9a2;
}

.search-box::-webkit-input-placeholder {
	/* WebKit, Blink, Edge */
	font-size: 12px;
	letter-spacing: 5px;
	color: #585858;
}

.search-box:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	font-size: 12px;
	letter-spacing: 5px;
	color: #585858;
	opacity: 1;
}

.search-box::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	font-size: 12px;
	letter-spacing: 5px;
	color: #585858;
	opacity: 1;
}

.search-box:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	font-size: 12px;
	letter-spacing: 5px;
	color: #585858;
}

.nav-divider {
	background: #4a4a4a;
	width: 1px;
	height: 50px;
	margin: 21px 0 0 0;
}

.nav-block {
	padding: 0 10px;
}

.nav-description {
	margin: 6px 0 1px 0;
	text-transform: uppercase;
	color: #585858;
	font-size: 12px;
	letter-spacing: 0.6px;
}

.sort-button {
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	margin: -8px 0 0 -2px;
	padding: 9px 28px 38px 10px;
}

.sort-button-4 {
	margin: -8px 0 0 -1px;
}

.diamond-outer {
	margin: 10px 16px 0 7px;
	zoom: 1;
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	display: inline-block;
	border: 1px solid #686868;
	width: 30px;
	height: 30px;
	transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.diamond-outer:hover {
	background: #c0baa2;
	box-shadow: 0 0 1px rgba(255, 255, 255, 0.12),
		1px 1px 1px rgba(255, 255, 255, 0.2);
}

.diamond-outer:focus {
	outline: none;
	outline: -webkit-focus-ring-color auto 0;
}

.diamond-outer:active {
	background: #d1c9b2;
	box-shadow: 0 0 2px rgba(255, 255, 255, 0.32),
		2px 2px 3px rgba(255, 255, 255, 0.4);
}

.diamond-inner {
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	width: 30px;
	height: 30px;
}

.tooltip {
	font-family: 'Lato', 'Arial', 'Helvetica', 'Lucida Grande', 'Gill Sans',
		'Verdana', sans-serif;
}

.filter-button {
	display: inline-block;
	font-size: 13px;
	height: 42px;
	cursor: pointer;
	transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.filter-button:hover {
	border-color: #686868;
}

.filter-button-single {
	border: 1px solid #585858;
	text-transform: uppercase;
	font-family: 'Lato', 'Arial', 'Helvetica', 'Lucida Grande', 'Gill Sans',
		'Verdana', sans-serif;
	letter-spacing: 0.6px;
	padding: 10px 15px 10px 15px;
	margin: 5px 10px 0 0;
}

.filter-button-multi-container {
	display: inline-block;
}

.filter-button-multi {
	border-left: 1px solid #585858;
	border-top: 1px solid #585858;
	border-bottom: 1px solid #585858;
	padding: 10px 15px 10px 15px;
	margin: 5px -3px 0 -1px;
}

.filter-button-multi-last {
	border-right: 1px solid #585858;
	margin: 5px 10px 0 -1px;
}

.filter-button-multi:hover {
	border-color: #686868;
	border-left-color: #585858;
}

.filter-button-multi-first:hover {
	border-left-color: #686868;
}

.filter-button-pressed.filter-button-multi:hover {
	border-color: #585858;
}

.filter-button-pressed {
	background: #585858;
}

.rateit-filter {
	border: 1px solid #585858;
	display: inline-block;
	height: 42px;
	margin: 0 10px 0 0;
	padding: 10px 10px 10px 10px;
	top: 2px;
	cursor: pointer;
}

.rateit-filter:hover {
	border-color: #686868;
}

.logo-button {
	background: #212121;
	border: 1px solid #585858;
	display: inline-block;
	font-size: 17px;
	margin: 5px 10px 0 0;
	padding: 8px 10px 10px 13px;
	width: 42px;
	height: 42px;
	cursor: pointer;
}

.filter-button-button {
	margin: 0px 10px 0 0;
	padding: 6px 10px 10px 13px;
}

.logo-button:hover {
	background: #c0baa2;
	box-shadow: 0 0 1px rgba(255, 255, 255, 0.12),
		0 1px 1px rgba(255, 255, 255, 0.2);
}

.logo-button:focus {
	background: #212121;
	outline: none;
	outline: -webkit-focus-ring-color auto 0;
}

.logo-button:active {
	background: #d1c9b2;
	box-shadow: 0 0 2px rgba(255, 255, 255, 0.32),
		0 2px 3px rgba(255, 255, 255, 0.4);
}

.bigstars {
	transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.bigstars div.rateit-range {
	background: url(../img/star.png);
	height: 16px;
}

.bigstars div.rateit-hover {
	background: url(../img/star-hover.png);
}

.bigstars div.rateit-selected {
	background: url(../img/star-active.png);
}

div.bigstars button.rateit-reset {
	background: url(../img/star-reset.png);
	width: 16px;
	height: 16px;
}

div.bigstars button.rateit-reset:hover {
	background: url(../img/star-reset-hover.png);
}

div.bigstars button.rateit-reset:active {
	background: url(../img/star-reset-active.png);
}

.mobile-only {
	display: none;
}

/* 4. Marker List */

.marker-list {
	background: #212121;
	position: absolute;
	left: 5%;
	display: block;
	height: 75%;
	top: 5%;
	width: 20%;
	overflow-y: auto;
	padding: 0;
	margin: 0;
	min-width: 318px;
	color: white;
	border: 1px solid #4a4a4a;
}

.marker-list li {
	list-style: none;
	border-bottom: 1px solid #4a4a4a;
	display: block;
	position: relative;
	margin: 0;
	padding: 3px 5px 3px 5px;
}

.listing-title {
	margin: 5px 0 8px 0;
	display: block;
	font: 700 27px 'Scheherazade', Georgia, Times, 'Times New Roman', serif;
	line-height: 20px;
	letter-spacing: -0.1px;
}

.listing-rating {
	display: inline-block;
}

.listing-openStatus {
	display: block;
	float: right;
	position: absolute;
	right: 5px;
	bottom: 3px;
}

.listing-vicinity {
	display: block;
	padding: 0 50px 0 0;
}

.listing-priceLevel {
	display: inline-block;
}

.listing-rating,
.listing-openStatus,
.listing-vicinity,
.listing-priceLevel {
	font: 12px 'Lato', 'Arial', 'Helvetica', 'Lucida Grande', 'Gill Sans',
		'Verdana', sans-serif;
	letter-spacing: 0.6px;
	text-transform: uppercase;
}

.listingIsClosed {
	background: #373737;
	color: #aaa;
}

.listingSelected {
	background: #c1b9a2;
	color: #fff;
}

.partial-width-1 {
	width: 1.26px;
	overflow: hidden;
	margin: 0 11.34px 0 0;
}

.partial-width-2 {
	width: 2.52px;
	overflow: hidden;
	margin: 0 10.08px 0 0;
}

.partial-width-3 {
	width: 3.78px;
	overflow: hidden;
	margin: 0 8.82px 0 0;
}

.partial-width-4 {
	width: 5.04px;
	overflow: hidden;
	margin: 0 7.56px 0 0;
}

.partial-width-5 {
	width: 6.3px;
	overflow: hidden;
	margin: 0 6.3px 0 0;
}

.partial-width-6 {
	width: 7.56px;
	overflow: hidden;
	margin: 0 5.04px 0 0;
}

.partial-width-7 {
	width: 8.82px;
	overflow: hidden;
	margin: 0 3.78px 0 0;
}

.partial-width-8 {
	width: 10.08px;
	overflow: hidden;
	margin: 0 2.52px 0 0;
}

.partial-width-9 {
	width: 11.34px;
	overflow: hidden;
	margin: 0 1.26px 0 0;
}

.heart-button {
	pointer-events: visible;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 40px 40px 0;
	border-color: transparent #414141 transparent transparent;
	position: absolute;
	top: 0;
	right: 0;
	display: none;
}

.marker-list li:hover .heart-button {
	display: block;
}

.heart-button:hover {
	color: white;
	border-color: transparent #c0baa2 transparent transparent;
}

.heart-button:active {
	color: white;
	border-color: transparent #d1c9b2 transparent transparent;
}

.listingSelected .heart-button:hover {
	color: #c0baa2;
	border-color: transparent #fff transparent transparent;
}

.listing-selected .heart-button:active {
	color: #d1c9b2;
	border-color: transparent #fff transparent transparent;
}

.heart-button-icon {
	position: relative;
	left: 22px;
	top: 5px;
}

.heart-button-is-favorite {
	display: block;
	border-color: transparent #585858 transparent transparent;
}

/* 5. Info Window */

.custom-info-window .custom-info-window-background {
	background: #212121;
	border-radius: 0;
	border: 1px solid #4a4a4a;
}

.custom-info-window .custom-info-window-background button img {
	filter: invert(100);
}

.info-window-template {
	color: white;
	/*max-height: 75vh;*/
}

.tab-content {
	margin-bottom: 12px;
}

.info-window-template .dropdown-toggle {
	background: none;
	border: none;
	border-radius: 0;
}

.dropdown-menu-right {
	overflow: visible;
	z-index: 999999999999999999;
	border-radius: 0;
	padding: 5px 20px 5px 20px;
	min-width: 300px;
}

.dropdown {
	display: inline-block;
}

.caret-dropdown {
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 7px solid #fff;
}

.dropdown-small .caret-dropdown {
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #fff;
}

.info-window-template .dropdown-menu li {
	color: black;
	display: block;
}

.dropdown a {
	text-shadow: 0px 0px 0.1px #686868;
}

.info-window-title-header {
	letter-spacing: 0.8px;
	font: 700 42px 'Scheherazade', Georgia, Times, 'Times New Roman', serif;
	line-height: 42px;
	display: inline-block;
}

.info-window-photos img {
	max-width: 100%;
}

.info-image {
	border: 1px solid #c0baa2;
	margin: 10px 0;
	max-width: 100%;
}

.foursquare-list {
	list-style: none;
}

.foursquare-list li {
	margin: 0 0 15px 0;
}

.locu_item-name {
	font-weight: bold;
}

.locu_contents-group {
	margin: 0 0 15px 0;
}

.locu_itemoptiongroup-text {
	font-style: italic;
}

.info-window-nav li a {
	color: white;
	border-radius: 0;
	text-transform: uppercase;
	font: 12px 'Lato', 'Arial', 'Helvetica', 'Lucida Grande', 'Gill Sans',
		'Verdana', sans-serif;
}

.info-window-template h4 {
	margin: 1em 0 0.2em 0;
}

.info-window-nav li.active a,
.info-window-nav li a:hover,
.info-window-nav li.active a:hover {
	color: white;
	background-color: #c0baa2;
	border-radius: 0;
	border: 1px solid #c0baa2 !important;
}

.info-window-nav li.active a,
.info-window-nav li a:focus,
.info-window-nav li.active a:focus {
	color: white;
	background-color: #d1c9b2;
	border-radius: 0;
	border: 1px solid #d1c9b2 !important;
}

.info-window-nav li {
	border-radius: 0;
	border-left-color: white;
	border-right-color: white;
}

/* 6. Errors */

.error-container .panel {
	border-radius: 0;
	display: none;
}

.error-container {
	margin: 0 0 157px 0;
	position: absolute;
	bottom: 0;
	right: 0;
	right: 5%;
	width: 300px;
}

.error-container .panel-heading {
	color: white;
	border-radius: 0;
	border: 0;
}

.error-container .panel-body {
	background-color: #212121;
	color: #fff;
}

.error-container .panel-warning {
	border-color: #c0baa2;
}

.error-container .panel-warning .panel-heading {
	background-color: #c0baa2;
}

.error-container .panel-danger {
	border-color: #c0a2a2;
}

.error-container .panel-danger .panel-heading {
	background-color: #c0a2a2;
}

/* 7. Modal */

.modal-content {
	border-radius: 0;
	background: #212121;
	color: white;
}

.modal-body img {
	display: block;
	margin: 15px;
	max-width: 100%;
}

/* 8. Settings */

.settings-description {
	text-align: left;
	margin: 30px 0 10px 0;
}

.settings-checked-conatiner {
	margin: 20px 0 0 0;
}

.place-search {
	width: 100%;
	color: black;
}

/* 9. Loading Screen */

.loading-screen {
	background-color: #212121;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 9999999999999999;
	margin: 0;
	top: 0;
}

.loading-screen-center {
	width: 100%;
	height: 100%;
	position: relative;
}

.loading-screen-center-absolute {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 50px;
	width: 50px;
	margin: -25px 0 0 -25px;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-animation: loading-center-absolute 1.5s infinite;
	animation: loading-center-absolute 1.5s infinite;
}

.loading-text {
	font: 400 42px 'Arial Narrow', Arial, Helvetica, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 0 0 320px 0;
	color: #d1c9b2;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 12px;
}

.object {
	width: 25px;
	height: 25px;
	background-color: #d1c9b2;
	float: left;
}

.object-one {
	-webkit-animation: object_one 1.5s infinite;
	animation: object_one 1.5s infinite;
}

.object-two {
	-webkit-animation: object_two 1.5s infinite;
	animation: object_two 1.5s infinite;
}

.object-three {
	-webkit-animation: object_three 1.5s infinite;
	animation: object_three 1.5s infinite;
}

.object-four {
	-webkit-animation: object_four 1.5s infinite;
	animation: object_four 1.5s infinite;
}

@-webkit-keyframes loading-center-absolute {
	100% {
		-webkit-transform: rotate(-45deg);
	}
}

@keyframes loading-center-absolute {
	100% {
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
	}
}

@-webkit-keyframes object_one {
	25% {
		-webkit-transform: translate(0, -50px) rotate(-180deg);
	}
	100% {
		-webkit-transform: translate(0, 0) rotate(-180deg);
	}
}

@keyframes object_one {
	25% {
		transform: translate(0, -50px) rotate(-180deg);
		-webkit-transform: translate(0, -50px) rotate(-180deg);
	}
	100% {
		transform: translate(0, 0) rotate(-180deg);
		-webkit-transform: translate(0, 0) rotate(-180deg);
	}
}

@-webkit-keyframes object_two {
	25% {
		-webkit-transform: translate(50px, 0) rotate(-180deg);
	}
	100% {
		-webkit-transform: translate(0, 0) rotate(-180deg);
	}
}

@keyframes object_two {
	25% {
		transform: translate(50px, 0) rotate(-180deg);
		-webkit-transform: translate(50px, 0) rotate(-180deg);
	}
	100% {
		transform: translate(0, 0) rotate(-180deg);
		-webkit-transform: translate(0, 0) rotate(-180deg);
	}
}

@-webkit-keyframes object_three {
	25% {
		-webkit-transform: translate(-50px, 0) rotate(-180deg);
	}
	100% {
		-webkit-transform: translate(0, 0) rotate(-180deg);
	}
}

@keyframes object_three {
	25% {
		transform: translate(-50px, 0) rotate(-180deg);
		-webkit-transform: translate(-50px, 0) rotate(-180deg);
	}
	100% {
		transform: translate(0, 0) rotate(-180deg);
		-webkit-transform: rtranslate(0, 0) rotate(-180deg);
	}
}

@-webkit-keyframes object_four {
	25% {
		-webkit-transform: translate(0, 50px) rotate(-180deg);
	}
	100% {
		-webkit-transform: translate(0, 0) rotate(-180deg);
	}
}

@keyframes object_four {
	25% {
		transform: translate(0, 50px) rotate(-180deg);
		-webkit-transform: translate(0, 50px) rotate(-180deg);
	}
	100% {
		transform: translate(0, 0) rotate(-180deg);
		-webkit-transform: translate(0, 0) rotate(-180deg);
	}
}

/* 10. Media Queries */

@media (max-width: 1440px) {
	.search-box {
		width: 42px;
		position: relative;
		background: #212121;
		z-index: 99;
	}
	.nav-block-search {
		width: initial;
	}
	.search-wrapper {
		width: 42px;
	}
	.search-box:active,
	.search-box:focus,
	.search-box-focused {
		width: 296px;
	}
	.search-filter-icon {
		transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
		position: absolute;
		top: inherit;
		bottom: 15px;
		left: 16px;
		pointer-events: none;
	}
	.search-box:active + .search-filter-icon,
	.search-box:focus + .search-filter-icon,
	.search-box-focused + .search-filter-icon {
		position: absolute;
		top: inherit;
		bottom: 15px;
		left: 274px;
	}
	.search-box::-webkit-input-placeholder {
		/* WebKit, Blink, Edge */
		color: #212121;
	}
	.search-box:-moz-placeholder {
		/* Mozilla Firefox 4 to 18 */
		color: #212121;
	}
	.search-box::-moz-placeholder {
		/* Mozilla Firefox 19+ */
		color: #212121;
	}
	.search-box:-ms-input-placeholder {
		/* Internet Explorer 10-11 */
		color: #212121;
	}
	.search-box:active::-webkit-input-placeholder,
	.search-box:focus::-webkit-input-placeholder,
	.search-box-focused::-webkit-input-placeholder {
		/* WebKit, Blink, Edge */
		color: #585858;
	}
	.search-box:active:-moz-placeholder,
	.search-box:focus:-moz-placeholder,
	.search-box-focused:-moz-input-placeholder {
		/* Mozilla Firefox 4 to 18 */
		color: #585858;
	}
	.search-box:active::-moz-placeholder,
	.search-box:focus::-moz-placeholder,
	.search-box-focused::-moz-input-placeholder {
		/* Mozilla Firefox 19+ */
		color: #585858;
	}
	.search-box:active:-ms-input-placeholder,
	.search-box:focus:-ms-input-placeholder,
	.search-box-focused:-ms-input-placeholder {
		/* Internet Explorer 10-11 */
		color: #585858;
	}
}

@media (max-width: 1199px) {
	.nav-block-options .logo-button,
	.nav-block-options {
		float: right;
	}
	.nav-block-locations .logo-button {
		padding: 9px 10px 10px 12px;
	}
	.nav-block-options .logo-button {
		padding: 9px 10px 10px 11px;
		margin: 5px 0 10px 13px;
	}
	.nav-block-locations,
	.nav-block-options {
		display: inline-block;
	}
	.navbar-custom.navbar-header {
		position: absolute;
		flex-direction: column;
		width: 318px;
		right: 4%;
		max-height: 500px;
		height: 78%;
		background: #212121;
		margin: 0 0 106px 0;
		bottom: 0;
		left: initial;
	}
	.navbar-header {
		visibility: hidden;
	}
	.nav-divider {
		background: #4a4a4a;
		width: 290px;
		height: 1px;
		margin: 15px 0 0 10px;
	}
	.marker-list {
		top: inherit;
		bottom: 0;
		margin: 0 0 106px 0;
		height: 78%;
		left: 4%;
		visibility: hidden;
	}
	.mobile-nav {
		width: 92%;
		left: 4%;
		bottom: 0;
		margin: 0 0 27px 0;
	}
	.filter-button-multi-container {
		display: block;
		margin: 5px 10px 10px 0px;
	}
	.mobile-button-pressed {
		background: #c0baa2;
		box-shadow: 0 0 1px rgba(255, 255, 255, 0.12),
			0 1px 1px rgba(255, 255, 255, 0.2);
	}
	.panel-visible {
		visibility: visible;
	}
	.text-right {
		text-align: left;
	}
	.info-window-template {
		max-height: 65vh;
	}
	.mobile-only {
		display: inline-block;
	}
}

@media (max-width: 991px) {
	.marker-list {
		top: inherit;
		bottom: 0;
		margin: 0 0 -1px 0;
		height: 83%;
		left: 0;
	}
	.info-window-template {
		max-height: 50vh;
	}
	.navbar-custom.navbar-header {
		height: 83%;
	}
	.mobile-nav {
		position: fixed;
		bottom: 0;
		overflow: hidden;
		width: 100%;
		margin: 0;
		height: 80px;
		left: 0;
	}
	.navbar-custom.navbar-header {
		bottom: 0;
		margin: 0 0 79px 0;
		height: 83%;
		top: inherit;
		right: 0;
	}
	.page-wrapper {
		position: absolute;
		bottom: 80px;
		height: 100%;
	}
	.error-container {
		margin: 0 -7px 66px 0;
	}
}

@media (min-width: 768px) {
	body {
		margin: 50px 0 0 0;
	}
	.page-wrapper {
		padding: 10px;
	}
}

@media (max-height: 500px) {
	.filter-button-multi-container {
		display: inline;
	}
	.dropdown {
		display: none;
	}
}

@media (max-width: 600px) {
	.dropdown {
		display: none;
	}
}

/* 11. Slidebars CSS */

/* -----------------------------------
 * Slidebars
 * Version 0.10.3
 * http://plugins.adchsm.me/slidebars/
 *
 * Written by Adam Smith
 * http://www.adchsm.com/
 *
 * Released under MIT License
 * http://plugins.adchsm.me/slidebars/license.txt
 *
 * -------------------
 * Slidebars CSS Index
 *
 * 001 - Box Model, Html & Body
 * 002 - Site
 * 003 - Slidebars
 * 004 - Animation
 * 005 - Helper Classes
 *
 * ----------------------------
 * 001 - Box Model, Html & Body
 */

html,
body,
#sb-site,
.sb-site-container,
.sb-slidebar {
	/* Set box model to prevent any user added margins or paddings from altering the widths or heights. */
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	overflow-x: hidden;
	/* Stops horizontal scrolling. */
}

html {
	height: 100%;
	/* Site is as tall as device. */
}

body {
	min-height: 100%;
	height: auto;
	position: relative;
	/* Required for static Slidebars to function properly. */
}

/* Site scroll locking - prevent site from scrolling when a Slidebar is open, except when static Slidebars are only available. */

html.sb-scroll-lock.sb-active:not(.sb-static) {
	overflow: hidden;
}

/* ----------
 * 002 - Site
 */

#sb-site,
.sb-site-container {
	/* You may now use class .sb-site-container instead of #sb-site and use your own id. However please make sure you don't set any of the following styles any differently on your id. */
	width: 100%;
	min-height: 100vh;
	position: relative;
	z-index: 1;
	/* Site sits above Slidebars */
	background-color: #fff;
	/* Default background colour, overwrite this with your own css. I suggest moving your html or body background styling here. Making this transparent will allow the Slidebars beneath to be visible. */
}

/* Micro clearfix by Nicolas Gallagher, ensures the site container hits the top and bottom of the screen. */

#sb-site:before,
#sb-site:after,
.sb-site-container:before,
.sb-site-container:after {
	content: ' ';
	display: table;
}

#sb-site:before,
#sb-site:after,
.sb-site-container:before,
.sb-site-container:after {
	clear: both;
}

/* ---------------
 * 003 - Slidebars
 */

.sb-slidebar {
	height: 100%;
	overflow-y: auto;
	/* Enable vertical scrolling on Slidebars when needed. */
	position: fixed;
	top: 0;
	z-index: 0;
	/* Slidebars sit behind sb-site. */
	display: none;
	/* Initially hide the Slidebars. Changed from visibility to display to allow -webkit-overflow-scrolling. */
	background-color: #212121;
	/* Default Slidebars background colour, overwrite this with your own css. */
	border-left: 1px solid #585858;
	color: white;
	text-align: center;
	padding: 15px;
}

.sb-slidebar,
.sb-slidebar * {
	-webkit-transform: translateZ(0);
	/* Fixes issues with translated and z-indexed elements on iOS 7. */
}

.sb-left {
	left: 0;
	/* Set Slidebar to the left. */
}

.sb-right {
	right: 0;
	/* Set Slidebar to the right. */
}

html.sb-static .sb-slidebar,
.sb-slidebar.sb-static {
	position: absolute;
	/* Makes Slidebars scroll naturally with the site, and unfixes them for Android Browser < 3 and iOS < 5. */
}

.sb-slidebar.sb-active {
	display: block;
	/* Makes Slidebars visibile when open. Changed from visibility to display to allow -webkit-overflow-scrolling. */
}

.sb-style-overlay {
	z-index: 9999;
	/* Set z-index high to ensure it overlays any other site elements. */
}

.sb-momentum-scrolling {
	-webkit-overflow-scrolling: touch;
	/* Adds native momentum scrolling for iOS & Android devices. */
}

/* Slidebar widths for browsers/devices that don't support media queries. */

.sb-slidebar {
	width: 30%;
}

.sb-width-thin {
	width: 15%;
}

.sb-width-wide {
	width: 45%;
}

@media (max-width: 480px) {
	/* Slidebar widths on extra small screens. */
	.sb-slidebar {
		width: 70%;
	}
	.sb-width-thin {
		width: 55%;
	}
	.sb-width-wide {
		width: 85%;
	}
}

@media (min-width: 481px) {
	/* Slidebar widths on small screens. */
	.sb-slidebar {
		width: 55%;
	}
	.sb-width-thin {
		width: 40%;
	}
	.sb-width-wide {
		width: 70%;
	}
}

@media (min-width: 768px) {
	/* Slidebar widths on medium screens. */
	.sb-slidebar {
		width: 40%;
	}
	.sb-width-thin {
		width: 25%;
	}
	.sb-width-wide {
		width: 55%;
	}
}

@media (min-width: 992px) {
	/* Slidebar widths on large screens. */
	.sb-slidebar {
		width: 30%;
	}
	.sb-width-thin {
		width: 15%;
	}
	.sb-width-wide {
		width: 45%;
	}
}

@media (min-width: 1200px) {
	/* Slidebar widths on extra large screens. */
	.sb-slidebar {
		width: 20%;
	}
	.sb-width-thin {
		width: 5%;
	}
	.sb-width-wide {
		width: 35%;
	}
}

/* ---------------
 * 004 - Animation
 */

.sb-slide,
#sb-site,
.sb-site-container,
.sb-slidebar {
	-webkit-transform: translate(0);
	-moz-transform: translate(0);
	-o-transform: translate(0);
	transform: translate(0);
	-webkit-transition: -webkit-transform 400ms ease;
	-moz-transition: -moz-transform 400ms ease;
	-o-transition: -o-transform 400ms ease;
	transition: transform 400ms ease;
	-webkit-transition-property: -webkit-transform, left, right;
	/* Add left/right for Android < 4.4. */
	-webkit-backface-visibility: hidden;
	/* Prevents flickering. This is non essential, and you may remove it if your having problems with fixed background images in Chrome. */
}

/* --------------------
 * 005 - Helper Classes
 */

.sb-hide {
	display: none;
	/* Optionally applied to control classes when Slidebars is disabled over a certain width. */
}
